[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "edumfa"
version = "2.8.0"
requires-python = ">=3.9"
authors = [{ name = "edumfa.io", email = "edumfa@listserv.dfn.de" }]
description = "eduMFA: identity, multifactor authentication (OTP), authorization, audit"
readme = { file = "README.rst", content-type = "text/x-rst" }
license = { file = "LICENSE" }
keywords = ["OTP", "two factor authentication", "management", "security"]
classifiers = [
    "Framework :: Flask",
    "License :: OSI Approved :: GNU Affero General Public License v3",
    "Programming Language :: Python",
    "Development Status :: 5 - Production/Stable",
    "Topic :: Internet",
    "Topic :: Security",
    "Topic :: System :: Systems Administration :: Authentication/Directory",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
]
dynamic = ["dependencies"]

[project.urls]
Homepage = "https://edumfa.io/"
Documentation = "https://edumfa.readthedocs.io/"
Repository = "https://github.com/eduMFA/eduMFA.git"
Issues = "https://github.com/eduMFA/eduMFA/issues"

[project.optional-dependencies]
docs = [
    "furo==2024.8.6",
    "docutils==0.21.2",
    "imagesize==1.4.1",
    "packaging==25.0",
    "pyenchant==3.2.2",
    "Pygments==2.19.1",
    "snowballstemmer==2.2.0",
    "Sphinx==8.2.3",
    "sphinxcontrib-applehelp==2.0.0",
    "sphinxcontrib-devhelp==2.0.0",
    "sphinxcontrib-htmlhelp==2.1.0",
    "sphinxcontrib-httpdomain==1.8.1",
    "sphinxcontrib-jsmath==1.0.1",
    "sphinxcontrib-qthelp==2.0.0",
    "sphinxcontrib-serializinghtml==2.0.0",
    "sphinxcontrib-spelling==8.0.1",
    "sphinx-copybutton==0.5.2",
    "sphinx-inline-tabs==2023.4.21",
]
test = [
    "attrs==25.3.0",
    "coverage==7.8.0",
    "exceptiongroup==1.2.2",
    "iniconfig==2.1.0",
    "mock==5.2.0",
    "packaging==25.0",
    "pluggy==1.5.0",
    "pyparsing==3.2.3",
    "pytest==8.3.5",
    "pytest-cov==6.1.1",
    "responses==0.25.7",
    "testfixtures==8.3.0",
    "tomli==2.2.1",
    "types-PyYAML==6.0.12.20250402",
]
postgres = ["psycopg2==2.9.10"]
hsm = ["PyKCS11==1.5.17"]
kerberos = ["gssapi==1.9.0"]

[project.scripts]
edumfa-manage = "edumfa.commands.manage.main:cli"

[tool.setuptools.dynamic]
dependencies = { file = "requirements.txt" }

[tool.setuptools.packages.find]
include = ["edumfa*"]

[tool.setuptools.package-data]
"edumfa" = ["translations/**/*", "static/**/*"]
