<div id="baseline" class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <a ng-click="about()"
            class="navbar-text pull-left">
            eduMFA
        </a>

<!-- Links in baseline to Support, Documentation, Privacy Statement
        <a class="navbar-btn btn btn-success pull-right"
           ng-show="piExternalLinks !== 'False'"
           ng-href=TBD
           target="_external">
            <translate>Support</translate>
        </a>
-->
    </div>
</div>
