name: publish

on:
  release:
    types: [ published ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  dist:
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/eduMFA
    permissions:
      id-token: write
    steps:
        - uses: actions/checkout@v5
        - name: Setup Python 3.10
          uses: actions/setup-python@v6
          with:
            python-version: "3.10"
        - name: Setup UV
          uses: astral-sh/setup-uv@v6
          with:
            enable-cache: true
        - name: Install dependencies
          run: uv sync
        - name: Build distributions
          run: uv build
        - name: Release dist
          uses: softprops/action-gh-release@v2
          with:
            files: dist/*
        - name: Publish package
          run: uv publish
