name: ubuntu

permissions:
  contents: read

on:
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/ubuntu.yml'
      - 'deploy/ubuntu*/**'
      - 'edumfa/**/*.py'
      - 'tools/**'
      - 'edumfa-manage'
      - 'pyproject.toml'
      - 'requirements.txt'
      - 'setup.py'
  pull_request:
    types: [ opened, reopened, synchronize ]
  release:
    types: [released]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-24.04
            codename: noble
          - os: ubuntu-22.04
            codename: jammy
    name: build ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y build-essential debhelper devscripts equivs dh-virtualenv
      - name: Build core package
        run: |
          cp -r deploy/ubuntu debian
          sed -i "s/{{CODENAME}}/${{ matrix.codename }}/g" debian/changelog
          sudo mk-build-deps -ri
          dpkg-buildpackage -us -uc -b
          rm -r debian
      - name: Build server package
        run: |
          cp -r deploy/ubuntu-server debian
          sed -i "s/{{CODENAME}}/${{ matrix.codename }}/g" debian/changelog
          sudo mk-build-deps -ri
          dpkg-buildpackage -us -uc -b
          rm -r debian
      - name: Build radius package
        run: |
          cp -r deploy/ubuntu-radius debian
          sed -i "s/{{CODENAME}}/${{ matrix.codename }}/g" debian/changelog
          sudo mk-build-deps -ri
          dpkg-buildpackage -us -uc -b
          rm -r debian
      - name: Upload packages to Nexus
        if: github.event_name == 'release'
        env:
          NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}
          NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
        run: |
          for deb_file in $(ls ../*.deb); do
            curl -u "$NEXUS_USERNAME:$NEXUS_PASSWORD" -H "Content-Type: multipart/form-data" --data-binary "@$deb_file" "https://bb-repo.zedat.fu-berlin.de/repository/edumfa-ubuntu-${{ matrix.codename }}/"
          done
